body {
     background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCxE8gNVVE3f7XTr1Cutql0zrYyGXQqHZ6VhlM1qjNv_pVBXTa') fixed;
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.container{
    padding-top: 30px;
}

