{%extends 'home.html'%}



{%block content%}
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-6">
                            <div class="about-title clearfix">
                                <h1>About <span>Clay</span></h1>
                                <h3>We are building... </h3>
                                <p class="about-paddingB">Software with</p>
                                <p>Django</p>
                                <p>Javascript</p>
                                <p>Html</p>
                                <p>CSS</p>
                                <p>Bootstrap</p>
                        <div class="about-icons"> 
                            <ul >
                                <li><a href="https://www.facebook.com/pokpokpolok"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                            </ul>       
               
               
               
               
            
            </div>
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>

{%endblock%}