
{% extends 'home.html' %}




{%block content %}

<script type="text/javascript">
    
    function myfuc(){
        alert("Data has been saved!")
    }
</script>
<div class="container">
            <form class="form-horizontal" role="form" method="post" action="/service/" onsubmit="return myfuc();">
              {% csrf_token %}
                <h2>Registration</h2>
                <div class="form-group">
                    
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="actype" class="col-sm-3 control-label">Account Type</label>
                    <div class="col-sm-9">
                        <input type="text" id="actype" name="actype" placeholder="Account Type" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="loan" class="col-sm-3 control-label">Amount Loan</label>
                    <div class="col-sm-9">
                        <input type="number" id="loan" name="loan" placeholder="Amount Loan" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="duration" class="col-sm-3 control-label">Amount Month</label>
                    <div class="col-sm-9">
                        <input type="number" id="duration" name="duration" placeholder="Amount Month"  class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone Number </label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="phone" name="phone" placeholder="Phone Number" class="form-control">
                        <span class="help-block">Your phone number won't be disclosed anywhere </span>
                    </div>
                </div>
                
                <div class="form-group">
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->
        {%endblock%}