{% extends 'home.html' %}

{% block content %}
<script type="text/javascript">
    
    function myfuc(){
        alert("Data has been saved!")
    }
</script>

<div class="container">
            <form class="form-horizontal" role="form" method="post" action="/contactsubmit/" onsubmit="return myfuc();">
              {% csrf_token %}
                <h2>Contact Us</h2>
                <div class="form-group">
                    
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="lastName" id="lastName"  placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email </label>
                    <div class="col-sm-9">
                        <input type="email" name="email" id="email"  placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone No</label>
                    <div class="col-sm-9">
                        <input type="text" name="phone" id="phone" placeholder="01XXXXXXXXX" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="msg" class="col-sm-3 control-label">Your Message</label>
                    <div class="col-sm-9">
                        <input type="text" name="msg" id="msg" placeholder="Write your message here" class="form-control">
                    </div>
                </div>
                
                
                <div class="form-group">
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->

    {%endblock%}