{% extends 'home.html' %}

{% block content %}
<script type="text/javascript">
    
    function myfuc(){
        alert("Data has been saved!")
    }
</script>

<div class="container">
            <form class="form-horizontal" role="form" method="post" action="" ;">
              {% csrf_token %}
                <h2>Submitted Money Record</h2>
                <div class="form-group">
                    
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <p>{{clientobject.email}} need to pay {{clientobject.per_month_to_pay}} taka</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="submitted_money" class="col-sm-3 control-label">Submit Money</label>
                    <div class="col-sm-9">
                        <input type="number" name="submitted_money" id="submitted_money"  placeholder="XXXX" class="form-control" autofocus>
                    </div>
                </div>
                
                <div class="form-group">
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->

    {%endblock%}