{%extends 'home.html' %}


{%block content%}



<!-- The form -->
<form class="example" action="" method="get">
  <input type="text"  placeholder="Search.." name="q" value="{{ q }}">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="service" style="background-color: #17d08b;">
	


{% for client in clients %}
<div class="container">
  <h2>Client Information</h2>
              
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Acount Type</th>
        <th>Amount Loan</th>
        <th>Total Months</th>
        <th>Phone</th>
        <th>Amount Per Months To Pay</th>
        <th>Action </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.email}}</td>
        <td>{{client.actype}}</td>
        <td>{{client.loan}}</td>
        <td>{{client.duration}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.per_month_to_pay}}</td>
        <td>
        	<a href="{% url 'record' client.id %}">
        		<button type="button" class="btn btn-info">Update</button>
        	</a>

        </td>
      </tr>
      
    </tbody>
  </table>
</div>
{% empty %}
	<h1>No Result Found</h1>
{% endfor %}
</div>


{%endblock%}